@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
  margin: 0;
  background-color: #E1E3E8;
  font-family: 'Roboto', sans-serif;
}
.container{
  width: 960px;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}
.top{
  width: 100%;
  background-color: #c1b7b4;
}
.menu{
  width: 960px;
  margin: auto;
  padding: 5px 0;
}
.flex, .flex2{
  display: flex;
}
.logo{
  margin-right: 200px;
}
.menu ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 23px;
}
.menu li{
  display: inline;
}
.menu li a{
  display: inline-block;
  text-decoration: none;
  padding: 10px;
  color: #7a2020;
  font-size: 14px;
  font-weight: bold;
}
.menu li a:hover{
  text-decoration: underline;
  color: #4c876a;
}

.footer{
  background-color: #102030;
  height: 520px !important;
  width: 100%;
  color: #ddd;
}
.footer section{
  width: 960px;
  padding: 60px;
  margin: 0 auto;
}
.sect{
  flex: 1;
  height: 200px;
  padding: 30px;
  box-sizing:border-box;
}
.sect h4{
  color: #aa6464;
}
.sect p{
  color: #aaa;
}
h4{
  margin: 0;
}
.divisor{
  height: 1px;
  width: 100%;
  background-color: #aaa;
  margin-bottom: 30px;
}
.copy{
  margin: 0;
  text-align: center;
}
.sect ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.sect li{
  display: block;
}
.sect li a{
  display: inline-block;
  text-decoration: none;
  padding: 10px;
  color: #aaa;
  font-size: 14px;
  font-weight: bold;
}
.title{
  text-transform: uppercase;
  font-weight: bold;
  color: #353535;
}
.titleDivisor{
  height: 3px;
  width: 70%;
  background-color: #353535;
  margin: auto;
}
.inscricao, .login{
  padding: 30px;
  box-sizing: border-box;
}
.inscricao label{
  text-align: left;
  display: block;
  margin: 25px 70px;
  font-size: 18px;
}
.inscricao input, .login input{
  padding: 5px;
  margin-left: 8px;
  width: 90%;
  font-size: 16px;
  border: solid 2px #333;
  border-radius: 10px 15px 15px 10px;
}
.login input{
  width: 40%;
}
#submit_inscricao, #submit_login{
  cursor: pointer;
  text-align: center;
  border-radius: 8px;
  width: 40% !important;
  background-color: #925343;
  color: #d8d3d1;
  font-weight: bold;
  margin: 30px 0;
}
#submit_inscricao:hover, #submit_login:hover{
  background-color: #EBF9F0;
  color: #444;
}
.login label{
  text-align: center;
  display: block;
  margin: 50px 0;
  font-size: 18px;
}
.erro{
  margin-top: 30px;
  color: #F00;
  text-decoration: underline;
}
#msg{
	z-index: 100;
	position: absolute;
	left: 0;
	top: 0;
	color: #eee;
	font-weight: 800;
	width: 550px;
	padding: 50px 15px;
	background-color: #4c876a;
	border: solid 4px #666;
	border-radius: 12px;
	display: none;
	font-size: 25px;
	text-align: center;
}
.bordinha{
  border: 2px solid #7a2020;
}
.header, .mapa{
  margin: 20px 0;
}
.quadrado{
  width: 760px;
  margin: auto;
  background-color: #e6d7d4;
  padding: 10px 40px;
  box-sizing: border-box;
  border-radius: 4px;
}
.divSections{
  padding: 4px;
  background-color: #4c876a;
  margin: 10px;
  color: #eee;
}
.autor{
  float: left;
  margin-right: 20px;
  margin-top: 20px;
}
.autorParag, .persoParag, .univerParag{
  text-align: left;
  margin-left: 10px;
}
.mapa{
  float: left;
}
.cidades{
  text-align: left;
}
.cidades li{
  margin-top: 5px;
}
.persoTitle{
  margin-bottom: 2px;
  margin-top: 35px;
}
.persoDivisor{
  height: 2px;
  width: 50%;
  background-color: #353535;
  margin-top: 2px;
}
.persoText{
  padding: 10px;
}
.linkCorpo{
  font-size: 14px;
  color: #7a2020;
}
.linkCorpo:hover{
  color: #4c876a;
  text-decoration: none;
}
.universidadeimg{
  float: right;
  margin-left: 20px;
  margin-top: 20px;
  width: 500px;
}
.univerParag{
  margin-top: 20px;
}
.headerUniver{
  margin: 12px;
}
.fundCinza{
  width: 760px;
  margin: auto;
  background-color: #f5f0f9;
  padding: 10px 40px;
  box-sizing: border-box;
  border-radius: 10px;
}
.univerParag li{
  margin: 6px;
  font-size: 15px;
}
.row{
	display: flex;
	flex-flow: row wrap;
}
.galeriaimg{
	width: 30%;
	margin: 10px;
	box-sizing: border-box;
}
.size{
	width: 100%;
	margin-top: 20px;
}
@media screen and (max-width: 768px) {

}/* fim do media query */
